@model strakcinema.user

@{
    ViewBag.Title = "RegisterationConfirmed";
}
<h2>Details</h2>

<div>

    <hr />
        <h1>
            Successful User Registration Kindly <a href="/users/Signin"style="color:#d40f7d">SignIn</a>
        </h1>
</div>

