@model strakcinema.creditcard

@{
    ViewBag.Title = "Confirmation";
}

<h2>Details</h2>

<div>
   
    <hr />
    <dl class="dl-horizontal">
        <h1>
            Your Order is confirm check your Email.
        </h1>
</div>
