<head>

    <link rel="stylesheet" property="stylesheet" href="/Content/Core.css" />

</head>


    <section class="component">
        
        <h1>ABOUT US</h1>

        <p>Hello</p>

        <p> StrakCinemas features high-resolution digital projection systems, immersive digital 3D content, expansive MAX screens, Dolby Atmos and 7.1 multidimensional surround sound systems as well as premium experiences such as IMAX with Laser, THEATRE by Rhodes, GOLD by Rhodes, 4DX and KIDS, designed especially for our little movie fans. </p>

    </section>



