@{
    ViewBag.Title = "Contact";
}

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .fa {
            padding: 20px;
            font-size: 30px;
            width: 70px;
            text-align: center;
            text-decoration: none;
            margin: 5px 2px;
            border-radius: 50%;
        }

            .fa:hover {
                opacity: 0.7;
            }

        .fa-facebook {
            background: #3B5998;
            color: white;
        }

        .fa-twitter {
            background: #55ACEE;
            color: white;
        }

        .fa-instagram {
            background: #125688;
            color: white;
        }
    </style>
</head>

<section class="component">

    <h1 class="hide-embed">Strak Cinemas Customer Care</h1>


    <p>How can we help you today?</p><p>If you have an inquiry or would like to share your experience with us, we're here to help. Please contact us using one of the following methods:</p>

    <h3>The Team</h3>

    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row">
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" src="https://scontent.fyhz1-1.fna.fbcdn.net/v/t1.0-9/51321759_2035505533185953_8460683134684364800_n.jpg?_nc_cat=111&_nc_ht=scontent.fyhz1-1.fna&oh=1e9e05f2b413bc49edb74fa10035e4fb&oe=5D4F9CCE" alt="Card image cap">
                        <div class="card-body">
                            <strong class="d-inline-block mb-2 text-success">Team Lead</strong>
                            <h3 class="mb-0">
                                <a class="text-dark" href="#"><span style="color:#d40f7d;">S</span>abareeshnath</a>
                            </h3>
                            <div class="mb-1 text-muted">sabareeshnathkp@gmail.com</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" src="https://scontent.fyhz1-1.fna.fbcdn.net/v/t1.0-9/13055497_983498308406389_2900826237345171034_n.jpg?_nc_cat=109&_nc_ht=scontent.fyhz1-1.fna&oh=afaa66c5032dcd9b7007331a53f2b439&oe=5D41DCB4" alt="Card image cap">
                        <div class="card-body">
                            <strong class="d-inline-block mb-2 text-success">Database Manaeger</strong>
                            <h3 class="mb-0">
                                <a class="text-dark" href="#"><span style="color:#d40f7d;">T</span>alwinder Saini</a>
                            </h3>
                            <div class="mb-1 text-muted">Talwindersaini@outlook.com</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" src="https://scontent.fyhz1-1.fna.fbcdn.net/v/t1.0-9/14717106_1201864783190127_3912548840289602562_n.jpg?_nc_cat=105&_nc_ht=scontent.fyhz1-1.fna&oh=31d5afc811580e4668c2da01e6294bd2&oe=5D357050" alt="Card image cap">
                        <div class="card-body">
                            <strong class="d-inline-block mb-2 text-success">Software Designer</strong>
                            <h3 class="mb-0">
                                <a class="text-dark" href="#"><span style="color:#d40f7d;">A</span>llen Mathew</a>
                            </h3>
                            <div class="mb-1 text-muted">allenm55@hotmail.com</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" src="https://scontent.fyhz1-1.fna.fbcdn.net/v/t1.0-9/23472032_1839627109701295_5978966133984308798_n.jpg?_nc_cat=104&_nc_ht=scontent.fyhz1-1.fna&oh=a66e32c0486a3b96a35f52c62569b4ab&oe=5D46FA76" alt="Card image cap">
                        <div class="card-body">
                            <strong class="d-inline-block mb-2 text-success">Network Security</strong>
                            <h3 class="mb-0">
                                <a class="text-dark" href="#"><span style="color:#d40f7d;">R</span>ishi Karki</a>
                            </h3>
                            <div class="mb-1 text-muted">rishi.karki7@gmail.com</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" src="https://scontent.fyhz1-1.fna.fbcdn.net/v/t1.0-9/26166767_1574486175977734_2476660325729448318_n.jpg?_nc_cat=105&_nc_ht=scontent.fyhz1-1.fna&oh=65605e52f7f86d0f8e0676bd64aa03fd&oe=5D06CA14" alt="Card image cap">
                        <div class="card-body">
                            <strong class="d-inline-block mb-2 text-success">Software Developer</strong>
                            <h3 class="mb-0">
                                <a class="text-dark" href="#"><span style="color:#d40f7d;">K</span>hagesh Pandya</a>
                            </h3>
                            <div class="mb-1 text-muted">khagesh.pandya@smu.ca</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h3>Call Us</h3>

    <p>We'd love to hear from you.  Please call us on <a href="#">123456789</a></p>
    <p>Our customer support team is available between 11AM to 10PM from Sunday to Wednesday and 10AM to 12AM from Thursday to Saturday</p>

    <h3>Say Hello On Social</h3>
    <div class="container">
        <a href="https://www.facebook.com" class="fa fa-facebook"></a>
        <a href="https://www.twitter.com" class="fa fa-twitter"></a>
        <a href="https://www.instagram.com/" class="fa fa-instagram"></a>
    </div>
</section>

