@{
    ViewBag.Title = "Home";
}


<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <title>Movies, Cinema Listings &amp; Latest Films | STRARK Cinemas </title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="mask-icon" color="#0075bc" href="/assets/safari-pinned-tab.svg" />
    <link rel="shortcut icon" type="image/x-icon" href="/assets/favicon.ico" />

    <link rel="stylesheet" property="stylesheet" href="/Content/Core.css" />

</head>
<body>

    @model  Tuple<IEnumerable<movy>, IEnumerable<theater>>

    <main role="main">

        <form class="form-inline my-3" action="/shows/index">

            <div class="container h-100">
                <div class="row h-100 justify-content-center align-items-center" style="background:#3e454b; padding-top:1.5em; padding-bottom:1em;">

                    <div class="form-group mx-sm-3 mb-2">
                        <select class="form-control" id="exampleSelect1" name="theater" required>
                            <option value="" disabled selected>Select Theater Name</option>
                            @foreach (var item in Model.Item2)
                            {
                                <option value="@item.theater_id">@item.theater_name</option>
                            }
                        </select>
                    </div>

                    <div class="form-group mx-sm-3 mb-2">
                        <select class="form-control" id="exampleSelect2" name="movie" required>
                            <option value="" disabled selected>Select Movie Name</option>
                            @foreach (var item in Model.Item1)
                            {
                                <option value="@item.movie_id">@item.movie_name</option>
                            }
                        </select>
                    </div>

                    <button type="submit" class="btn btn-primary mb-2" style="background:#d40f7d; border-color:#d40f7d">Find Times and Book</button>
                </div>
            </div>

        </form>

        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="https://assets.voxcinemas.com/content/AEG_HB_1554269774.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="https://assets.voxcinemas.com/content/LUCIFER-_HB-WTL_1553752398.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="https://assets.voxcinemas.com/content/Captain-Marvel_HB_TNG-ENG_F_1547999007.jpg" class="d-block w-100" alt="...">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

        <section>
            @*<h2 class="highlight">
                    What&#39;s On
                    <a class="action primary " href="/movies/whatson">View All</a>
                </h2>*@



            <div class="poster-wall">
                @foreach (var item in Model.Item1)
                {
                    <article class="movie-summary" data-slug="shazam" data-title="Shazam!">
                        <img class="poster lazy" src=@item.image_path alt="Shazam!" />
                    </article>
                }
            </div>

            

            <hr class="dashed" />

        </section>


    </main>


</body>
</html>